body{
    display: flex;
    height: max-content;
    align-items: center;
}

#conteiner{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

#instrucao{
    display: flex;
}


#div_corG{
    display: none;

}