@import url('https://fonts.googleapis.com/css2?family=Niconne&family=Roboto+Slab:wght@100&display=swap');

body {
    background-color: rgb(235, 225, 225);
    font-family: 'Roboto Slab', serif;
    margin:0px;
    display: flex;
}
#div_center{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
form {border: 4px solid #f1f1f1; border-radius: 15px;}

input[type=text], input[type=password] {
    width: 100%;
    padding: 10px 25px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #9c073e;
    box-sizing: border-box;
}

#div_login{
    margin-top: 5%;
    width: 350px;
    display: flex;
    
}

#titulo{
    font-family: 'Niconne', cursive;
    font-size: 300%;
    display: flex;
    color: #740b31;
    display: inline-block;
    margin: 10%;
}

button {
    background-color: #9c073e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 11px 19px;
    background-color: #9c073e;
    border-radius: 5px;
}




.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
span.psw {
    display: block;
    float: none;
}
.cancelbtn {
    width: 100%;
}
}